.header,
.bottom {
    background-color: #652B82 !important;
}

.border-x-radius {
    border-radius: 30px;
}

.notification {
    position: absolute !important;
    left: 25px !important;
    top: 15px !important;
    border-radius: 53% !important;
    font-size: 9px !important;
    background-color: red !important;
    padding: 4px !important;
}

.border_bottom_only{
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

.text-purple {
    color: #652B82 !important;
}

.bg-purple {
    background-color: #652B82 !important;
}

input::placeholder {
    color: #652B82 !important
}

.nav-color > li > a{
    color: #652B82 !important;
    font-weight: bold;
}

.icon {
    height: 55px !important;
    background-color: #dfdada !important;
    padding: 5px !important;
    border-radius: 50% !important;
}

.navIcon {
    height: 45px !important;
    background-color: #ffff !important;
    border-radius: 50% !important;
    padding: 5px !important;
}

.showBalance {
    transition: 1s ease-in !important;
}

a {
    text-decoration: none !important;
}

.fixed-bottom {
    position: fixed;
    bottom: 0px !important;
    width: 100vw !important;
}

.fixed-top {
    position: fixed !important;
    top: 0px;
}

.body {
    margin-top: 152px;
}

input,th {
    color: #652B82 !important;
}

.border-color,.table-bordered {
    border-color: #652B82 !important;
}

.right-border-radius-off {
    border-right: none !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.left-border-radius-off {
    border-left: none !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.bottom:focus {
    display: none !important;
}

::selection,
select:focus::-ms-value {
    background-color: #d7a7f0 !important;
    color: #652B82 !important;
}

option:checked {
    background-color: #d7a7f0 !important;
    color: #652B82 !important;
}

option:checked:hover,
select:focus option:checked:hover {
    background-color: #d7a7f0 !important;
    color: #652B82 !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.option {
    float: right !important;
    padding-right: 0px !important;
}

.uk-radio {
    height: 20px !important;
    width: 20px !important;
}

.logoPart {
    background-image: url("../images/logo_bg.png");
    background-size: cover !important;
    height: 250px !important;
}

.login-box {
    margin: 0px 23px !important;
    border: 1px solid #652B82 !important;
    border-radius: 6px !important;
    z-index: 1 !important;
    position: relative !important;
    top: -85px !important;
    background: white !important;
}

.top-navigation {
    transition: ease-out 1s !important;
}

.select2-container .select2-selection--single {
    height: 40px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 4px !important;
    color: #652B82 !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #652B82 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 3px !important;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}