.header,
.bottom {
    background-color: #652B82 !important;
}

.border-x-radius {
    border-radius: 30px;
}

.notification {
    position: absolute;
    left: 25px;
    top: 15px;
    border-radius: 53%;
    font-size: 9px;
    background-color: red;
    padding: 4px;
}

.text-purple {
    color: #652B82 !important;
}

.bg-purple {
    background-color: #652B82 !important;
}

input::placeholder{
    color: #652B82 !important
}

.icon {
    height: 55px;
    background-color: #dfdada;
    padding: 5px;
    border-radius: 50%;
}

.navIcon {
    height: 45px;
    background-color: #ffff;
    border-radius: 50%;
    padding: 5px;
}

.showBalance {
    transition: 1s ease-in;
}

a {
    text-decoration: none !important;
}

.fixed-bottom {
    position:fixed;
    bottom: 0px;
    width: 100vw;
}

.fixed-top {
    position: fixed;
    top: 0px;
}

.body {
    margin-top: 152px;
}

input {
    color: #652B82 !important;
}

.border-color {
    border-color: #652B82 !important;
}

.right-border-radius-off {
    border-right: none !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.left-border-radius-off {
    border-left: none !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


::selection,
select:focus::-ms-value {
    background-color: #d7a7f0;
    color: #652B82;
}

option:checked {
    background-color: #d7a7f0;
    color: #652B82;
}

option:checked:hover,
select:focus option:checked:hover {
    background-color: #d7a7f0;
    color: #652B82;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.option{
    float: right !important;
    padding-right: 0px !important;
}

.uk-radio{
    height: 20px !important;
    width: 20px !important;
}

.logoPart{
    background-image: url("../images/logo_bg.png");
    background-size: cover;
    height: 250px;
}

.login-box{
    margin: 0px 23px;
    border: 1px solid #652B82;
    border-radius: 6px;
    z-index: 1;
    position: relative;
    bottom: 71px;
    background: white;
}